/* .main-container{
    display: flex;
   
    
} */

.cads{
     display: flex;
    margin-left:430px;
    margin-top: 200px;
    position: fixed;
    
}
.info-part{
    position: fixed;
    max-height: 400px;
    margin-top:200px;
    margin-left: 40px;
     color:aliceblue;
    width:300px;
    font-weight: bold;
   
}